<div>
  <% @students.each do |student| %>
    <div><%= link_to student.first_name + " " + student.last_name, student_path(student) %></div>
  <% end %>
</div>
<%# <%= link_to student.name, student_path(student.id) %>