<div>
  <% @students.each do |student| %>
    <%= link_to student.to_s, student %>
  <% end %>
</div>
<br>
# iterates over all students (saved as such in the controller action) and uses Rails magic to create 
# a link to each one using link_to (calls to_s method to join first and last name, defined in the student.rb model)
# as the first argument, which is the display text, and the second argument after the comma
# is what it actually links to. 
